# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Large binary files
chrome-extract/
chrome-force-persistent/
chrome.deb
gh.tar.gz
*.deb
*.crx
public/scenes/
public/voiceover*
